header {
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

a.logo {
  color: #fff;
  font-size: 2.3em;
  text-decoration: none;
  font-weight: bold;
}

a.logo span {
  color: aqua;
}

ul {
  display: flex;
  flex-direction: row;
}

.navbar {
  padding: 10px;
}

li {
  margin-right: 2rem;
  list-style: none;
}

@media (max-width: 425px) {
  .navbar {
    display: none;
  }

  header {
    width: 100%;
    max-width: 100%;
  }
}
